<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="connectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory"  
    destroy-method="stop">  
    <property name="connectionFactory">  
        <bean class="org.apache.activemq.ActiveMQConnectionFactory">  
            <property name="brokerURL"  
                value="failover:(tcp://10.25.77.4:61616?wireFormat.maxInactivityDuration=0)&amp;maxReconnectDelay=1000" />  
        </bean>  
    </property>  
    <property name="maxConnections" value="100"></property>  
	</bean>  
	<bean id="oamTmpTopic" class="org.apache.activemq.command.ActiveMQTopic">  
    <constructor-arg value="oamTmpTopic" />  
</bean>  
  
<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">  
    <property name="connectionFactory" ref="connectionFactory" />  
    <property name="defaultDestination" ref="oamTmpTopic" />  
    <property name="explicitQosEnabled" value="true" />  
    <property name="deliveryMode" value="1" />  
</bean>

 <bean id="testListener" class="com.example.TestListener">  
	<constructor-arg ref="jmsTemplate"></constructor-arg>  
	<constructor-arg value="${application.topicname}"></constructor-arg>  
</bean>
  
</beans>